<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<title>Travelous</title>
		<link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
		<!--meta tags-->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--bootstrap-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- additional stylesheet-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	</head>
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#"><img height="50px" width="50px" src="{{ url_for('static', filename='images/logo.png') }}"></a>
			<a class="navbar-brand" href="#">Travelous</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('destinations') }}">Destinations</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('about') }}">About</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							More
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="{{ url_for('visa') }}">Visa</a>
								<a class="dropdown-item" href="{{ url_for('blog') }}">Blog</a>
								<a class="dropdown-item" href="{{ url_for('transport') }}">Transport</a>
							</div>
						</li>
					</ul>
				</div>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('login') }}">Log In<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('register') }}">Register<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
		</nav>

        <div class="container">
			<form action="" method="post">
				<fieldset class="scheduler-border">
					<legend class="scheduler-border">Register</legend>
					<div class="form-group">
						Get started with your free account!<br><br>
						<br>
						<label for="username">User ID</label>
						<input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="User ID">
					</div>
					<div class="form-group">
						<label for="fname">First Name</label>
						<input type="text" class="form-control" name="fname" id="fname" aria-describedby="emailHelp" placeholder="Last Name">
					</div>
					<div class="form-group">
						<label for="lname">Last Name</label>
						<input type="text" class="form-control" name="lname" id="lname" aria-describedby="emailHelp" placeholder="Last Name">
					</div>
					<div class="form-group">
						<br>
						<label for="email">Email address</label>
						<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="abc@gmail.com">
					</div>
					<br>
					<div class="form-group">
						<label for="pwd">Password</label>
						<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="cpwd">Confirm Password</label>
						<input type="password" class="form-control" name="cpwd" id="cpwd" placeholder="Confirm Password">
					</div>
					<br>
					<br>
					<div class="form-group">
						<label>Gender</label>
						<div class="radio">
						  <label><input type="radio" name="gender">  Male</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="gender">  Female</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="gender">  Prefer not to say</label>
						</div>

					</div>
					<div class="form-group">
						<label for="age">Age</label>
						<input type="text" class="form-control" name="age" id="age" placeholder="Age">
					</div>
					<br>
					<table width="100%">
						<tr>
							<td><button type="submit" style="width:150px; background-color: #e3bd56; border-color: #e3bd56;" class="btn btn-primary">Register</button></td>
							<p style="color:red; opacity:80%;">{{msg}}</p>
							<td style="text-align:right;">
							<small class="form-text text-muted">Already have an account?</small>
							<small class="form-text text-muted"><a href="{{ url_for('login') }}">Sign in here.</a></small>
							</td>
						</tr>
					</table>
				</fieldset>
			</form>
		</div>
	</body>
</html>